.center{
    text-align: center;
    /* mid of scree */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}